body {
    background: #eee;
}

.card {
    border: none;

    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #fdc7cc;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom;
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #dc3545;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom;
}

.card:hover::after {
    transform: scaleY(1);
}

.fonts {
    font-size: 11px;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.social-list li {
    padding: 10px;
    color: #dc3545;
    font-size: 19px;
}

.buttons button:nth-child(1) {
    border: 1px solid #dc3545 !important;
    color: #dc3545;
    height: 40px;
}

.buttons button:nth-child(1):hover {
    border: 1px solid #dc3545 !important;
    color: #fff;
    height: 40px;
    background-color: #dc3545;
}

.buttons button:nth-child(2) {
    border: 1px solid #dc3545 !important;
    background-color: #dc3545;
    color: #fff;
    height: 40px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}
